h1 {
  font-family: fantasy;
  font: ComicSansMS;
  color: green;
}

h2 {
  font-family: ComicSansMS;
  color: pink;
  background: purple;
}

h3 {
  font-family: inherit;
}

p {
  font-family: Tahoma;
}
